.feedback
  position: relative
  min-height: 1000px
  background-color: #ffffff

  .heading-title
    color: #000000

  &-list
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

  &-item
    width: 23%

    +media-tablet-up()
      width: 49%
      margin-bottom: 20px

    +media-phone-up()
      width: 100%

  &-image
    width: 100%
    margin-bottom: 40px

  &-info

    .name
      display: block
      margin-bottom: 10px
      font-size: 22px
    
    .city
      font-size: 20px
      color: #858585

  &-text
    display: inline-block
    margin: 10px 0
    font-size: 16px


