.how
  position: relative
  min-height: 1000px
  background-color: #ffffff
  +media-tablet-up()
    min-height: auto

  .heading-title
    color: #000000!important

  .city
    font-size: 20px
    color: #858585




