.icon
  display: inline-block
  vertical-align: middle
  position: relative
  transition: all .3s ease-in-out

  &.is-photo
    width: 64px
    height: 44px
    background-image: url('../images/gallery-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-about
    width: 58px
    height: 82px
    background-image: url('../images/facts-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-format
    width: 74px
    height: 74px
    background-image: url('../images/offer-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-how
    width: 73px
    height: 73px
    background-image: url('../images/how-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-ball
    width: 84px
    height: 75px
    background-image: url('../images/types-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-clients
    width: 73px
    height: 73px
    background-image: url('../images/clients-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-partners
    width: 73px
    height: 73px
    background-image: url('../images/partners-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
  
  &.is-feedback
    width: 73px
    height: 73px
    background-image: url('../images/how-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  &.is-mail
    width: 62px
    height: 49px
    background-image: url('../images/contact-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

.icon-vk,
.icon-tg,
.icon-inst,
.icon-fb
  display: block
  width: 22px
  height: 22px
  border-radius 50px
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.icon-vk
  background-image: url("../images/vk-icon.png")

.icon-tw
  background-image: url("../images/tw-icon.png")

.icon-tg
  background-image: url("../images/ico-tg.svg")
  background-size: 24px;

.icon-inst
  background-image: url("../images/instg-icon.png")

.icon-fb
  background-image: url("../images/fb-icon.png")


