.mobile-menu
  width: 300px
  height: calc(100% - 95px)
  background-color: #0a0a0a
  position: fixed
  top: 95px
  left: -100%
  transition: all .35s ease-in-out
  z-index: 5

  &__list
    text-align: center

  &__el
    height: 50px
    line-height: 50px

  &__link
    position: relative
    margin-right: 28px
    color: #ffffff
    text-transform: uppercase
    border-bottom: 2px solid transparent
    transition: all .3s ease-in-out

    &:last-child
      margin-right: 0

      &:after
        display: none

    &:after
      position: absolute
      content: ''
      top: 10px
      right: -20px
      width: 10px
      height: 1px
      background-color: #ffffff
      transform: rotate(-60deg)

    &:hover
      border-bottom-color: #c48233

  &.is-open
    left: 0
