.request
  padding: 60px 90px
  text-align: center
  border: 1px solid #ffffff
  +media-tablet-landscape-up()
    padding: 60px
  +media-phone-up()
    padding: 30px

  .request-form
    position: relative
    display: flex
    flex-direction: column
    align-items: stretch
    +media-tablet-up()
      flex-direction: column

  &-icon
    position: absolute
    top: 10px
    right: 10px

  &-title
    display: block
    margin-bottom: 40px
    font-size: 25px
    text-transform: uppercase
    +media-phone-up()
      font-size: 20px

  &-btn
    width: 274px
    height: 50px
    line-height: 50px
    font-size: 16px
    color: #ffffff
    background-color: #c48233
    transition: all .3s ease-in-out
    box-shadow: 0 0 8px 5px rgba(196, 130, 51, 0.75)

    &:hover
      background: darken(#c48233, 20%)

  &-input
    padding: 0 10px
    margin-bottom: 10px
    width: 260px
    height: 40px
    line-height: 40px
    font-size: 16px
    color: #ffffff
    background-color: transparent
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #5b5c5b
    box-sizing border-box

    +media-tablet-up()
      width: 100%

  .form-container
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap

  .request-action
    margin-top: 40px
