@import "../fonts/LabGrotesque-Regular/style.css";
@import "../fonts/LabGrotesque-Light/style.css";
@import "../fonts/LabGrotesque-Bold/style.css";
@import "../fonts/LabGrotesque-Medium/style.css";
@import "../fonts/LabGrotesque-Thin/style.css";
