@font-face {
  font-family: 'Lab Grotesque Light';
  src: url('LabGrotesque-Light.eot');
  src: url('LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
    url('LabGrotesque-Light.woff') format('woff'),
    url('LabGrotesque-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
