@import "~normalize.css";
@import './mixins.styl';
@import './slick.styl';
@import './fonts.styl';
@import './partials/intro.styl';
@import './partials/layout.styl';
@import './partials/mobile-menu.styl';
@import './partials/navigation.styl';
@import './partials/emotions.styl';
@import './partials/gallery.styl';
@import './partials/clients.styl';
@import './partials/general.styl';
@import './partials/hamburger.styl';
@import './partials/facts.styl';
@import './partials/format.styl';
@import './partials/offer.styl';
@import './partials/how.styl';
@import './partials/icon.styl';
@import './partials/screen.styl';
@import './partials/select.styl';
@import './partials/slider.styl';
@import './partials/steps.styl';
@import './partials/types.styl';
@import './partials/feedback.styl';
@import './partials/partners.styl';
@import './partials/request.styl';
